<div class="bg-transparent w-full min-h-screen flex text-white">
        <app-sidenav></app-sidenav>
    <div class="w-full max-lg:pr-[20px] max-md:pl-[20px] md:pl-[110px]" [ngClass]="{'lg:pr-[330px]': !isHumburger, 'lg:pr-[20px]': isHumburger}">
        <app-topnav [onToggle]="onToggle.bind(this)"></app-topnav>
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!isHumburger" class="w-full h-screen fixed bg-black lg:hidden max-sm:hidden bg-opacity-30"></div>
    <div class="bg-dark-main max-sm:max-w-full px-[15px] py-[20px] w-full fixed shadow-lg shadow-black/20 gap-[10px] top-0 h-full right-0 flex flex-col justify-between" [ngClass]="{'hidden': isHumburger, 'max-w-[310px]':!isHumburger}">
        <div class="flex flex-col w-full h-full bg-transparent gap-[15px]">
            <div class="flex items-center justify-between">
                <button (click)="onToggle()" class="lg:hidden">
                    <ng-icon name="ionArrowForward"></ng-icon>
                </button>
                <p>Order #12812</p>
            </div>
            <div class="flex gap-[10px] overflow-x-auto hidden-scroll">
                <button class="bg-[#EA7C69] text-white p-[10px] text-[14px] rounded-md whitespace-nowrap">
                    Dine In
                </button>
                <button class="text-[#EA7C69] border border-[#EA7C69] p-[10px] text-[14px] rounded-md whitespace-nowrap">
                    To Go
                </button>
                <button class="text-[#EA7C69] border border-[#EA7C69] p-[10px] text-[14px] rounded-md whitespace-nowrap">
                    Delivery
                </button>
                <button class="text-[#EA7C69] border border-[#EA7C69] p-[10px] text-[14px] rounded-md whitespace-nowrap">
                    Takeaway
                </button>
            </div>
            <div class="flex items-center justify-between pb-[15px] border-b border-gray-500 border-opacity-30">
                <p>Item</p>
                <p>Qty</p>
            </div>
            <div class="flex flex-col gap-[10px] max-h-[460px] bg-transparent hidden-scroll overflow-y-auto">
                <div class="flex flex-col gap-[10px]">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center gap-[10px] h-full">
                            <div class="w-[50px] h-[50px] bg-black flex items-center justify-center rounded-md">
                                img
                            </div>
                            <div>
                                <p>Spicy Makanan</p>
                                <p>$ 2.89</p>
                            </div>
                        </div>
                        <div class="bg-[#2D303E] h-full w-[50px] border border-gray-500 border-opacity-20 rounded-lg flex items-center justify-center">
                            2
                        </div>
                    </div>
                    <div class="bg-[#2D303E] h-full w-full border border-gray-500 border-opacity-20 py-[15px] px-[13px] text-[14px] rounded-md">
                        Please, just a little bit spicy only.
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-[10px] bg-transparent">
            <div class="flex items-center justify-between">
                <p>Discount</p>
                <p>$0</p>
            </div>
            <div class="mb-[10px] flex items-center justify-between">
                <p>Subtotal</p>
                <p>$ 21,09</p>
            </div>
            <button class="bg-[#EA7C69] text-white w-full p-[15px] font-bold rounded-md text-[14px]">
                Continue to Payment
            </button>
        </div>
    </div>
</div>