<div class="h-auto w-full flex flex-col gap-[25px] mt-[10px]">
    <div class="flex items-center justify-between">
        <p class="text-[17px] font-bold text-white">Choose Dishes</p>
        <select name="" id="" class="bg-dark-main p-[10px] rounded-md">
            <option value="" selected>Dine In</option> 
            <option value="">To Go</option> 
            <option value="">Delivery</option> 
        </select>
    </div>
    <div class="grid grid-cols-4 lg:grid-cols-5 max-cols-3:grid-cols-3 max-sm:grid-cols-2 gap-[20px]">
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
        <button class="bg-dark-main rounded-md overflow-hidden">
            <div class="w-full h-[100px] bg-white">
                img
            </div>
            <div class="p-[10px] flex flex-col gap-[5px]">
                <p class="text-[16px]">nasi goreng</p>
                <p class="text-[13px]">$2.38</p>
                <p class="text-[14px] text-gray-400">20 Bowl available</p>
            </div>
        </button>
    </div>
</div>